/*禁用长按出现的菜单*/
*{
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
}


/**
 * text hide
 */
.tx-hid{
    /*文字一行样式处理*/
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-flex: 1;
    height: inherit;
}
.tx-hid2{
    /*文字两行样式处理*/
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-box-flex: 1;
    height: inherit;
}
.tx-hid3{
    /*文字三行样式处理*/
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-flex: 1;
    height: inherit;
}
.tx-hid4{
    /*文字四行样式处理*/
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    -webkit-box-flex: 1;
    height: inherit;
}

.img_filter{
	/* 滤镜 将图像转换为灰度图像 */
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

/* **********base  css************** */
html,body,div,p,input,textarea,footer {
	font-family: 'SimHei';
}




#HeaderBox_5 {
	height: 3.1em;
	left: 0.00em;
	top: 3.3em;
	background-color: rgba(255, 255, 255, 1);
	z-index: 2222;
}




/* 特殊 */
[data-control="CUSTOMLISTVIEW"] > li {
    display: none !important;
}
/*去除搜索框默认的×*/
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;/*//此处只是去掉默认的小×*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

.line-no {
	outline: none;
}

.ulev-9 {
	font-size: 0.9em !important;
}

pre {
	white-space: pre-wrap;
	/* css-3 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
}

.v-hid{
    visibility: hidden;
    width: 2em;
}

.v-hid2{
    visibility: hidden;
}

.uw100{
	width: 100%;
}

body{
	width: 100vw;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

.uh_ios7 #Header_5{
    padding-top: 1em !important;
    height: 4em !important;
}

.uh_ios7 #HeaderBox_5 {
	/*top: 4.3em;*/
}

.uh_ios7 #ScrollContent_5 {
	padding-top: 4em;
}


