#Header {
	color:rgba(255,255,255,1);
}

/* 底部菜单栏 */
#foot_menu {
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #ccc;
	padding: 0.3em 0 0.2em;
}
#foot_menu .mune_img {
	height: 1.5em;
	width: 1.5em;
}
.menu_active .menu_text {
	color: #090;
}
